
@{
    ViewBag.Title = "Forgot Password";
}

    <div class="container">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }
        else
        {

            using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-5 mx-auto mt-5 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col text-center">
                                        <img width="100px" src="~/Images/forgot.png" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <h3>Forgot password</h3>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-10 mx-auto">
                                            <div class="form-group">
                                                @Html.Label("Email ID", htmlAttributes: new { @class = "control-label" })
                                                <input type="email" name="EmailId" id="EmailId" value="" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-10 mx-auto">
                                            <div class="form-group">
                                                <input type="submit" value="Send email" class="btn btn-outline-dark btn-block" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
